
body {
  font-family: Arial;
  margin: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: linear-gradient(45deg, gray, black);
  color: white;
  font-size: 25px;
}

.navbar ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

section {
  padding: 60px;
}

#about {
  height: 500px;
  background: radial-gradient(gray, white );
}

.project-container {
  display: flex;
  gap: 20px;
}

.card {
  border: 1px solid gray;
  padding: 20px;
  width: 260px;
}

button {
  background: black;
  color: white;
  padding: 10px;
}

.home-section {
  height: 60vh;
  display: flex;
  align-items: center;
  background: radial-gradient(#0dfd0d, gray);
  color: black;
  font-weight: bold;
}

.profile-img {
  width: 300px;
  height: 300px;
}

.project-img {
  height: 180px;
  object-fit: cover;
  transition: transform 0.2s ease;
}

.project-card:hover {
  transform: translateY(-6px);
}

.contact-form {
  max-width: 500px;
}

.profile-img-logo {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.coming-soon-page {
  height: 90vh;
  background: linear-gradient(
    to right,
    #f8f9fa,
    #acc5dd
  );
}

.comingsoon-img {
  width: 280px;
  opacity: 0.85;
}

.pulse {
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.05); }
  100% { transform: scale(1); }
}